body {
	background-color: #777;
} 
 * {
 	box-sizing: border-box;
 	text-align: center;
 }

 body {
 	width: 0 auto;
 	height: 0 auto;
 }

 header {
 	background: #ebebeb;
 	padding: 20px;
 	margin-bottom: 20px;
 	color: #333;
	width: 990px ;
	margin-left: auto ;
	margin-right: auto ;
 }

 section {

 }

#nav {
	background: #ebebeb;
	padding: 20px;
 	margin-bottom: 20px;
 	color: #333;
 	width: 990px ;
	margin-left: auto ;
	margin-right: auto ;
}

#section {
	background: #ebebeb;
	position: relative;
	padding: 20px;
 	margin-bottom: 20px;
 	margin-left: 195px;
 	color: white;
 	width: 450px; 
	height: 400px;
	padding: 10px;
	float: left;
}

#article {
	background: #777;
	position: absolute;
	padding: 20px;
 	margin-bottom: 20px;
 	color: #333;
 	width: 400px;
	height: 200px;
	margin-top: 100px;
	margin-left: 220px;
}

#h1 {
	background: #ebebeb;
	position: absolute;
	padding: 20px;
 	margin-bottom: 20px;
 	color: #333;
 	width: 280px;
 	height: 5px;
	margin-top: 180px;
	margin-left: 290px;

 }

#p {
	background: #ebebeb;
	position: absolute;
	padding: 20px;
 	margin-bottom: 20px;
 	color: #333;
 	width: 280px;
 	height: 5px;
	margin-top: 120px;
	margin-left: 290px;;
}

#aside {
	background: #ebebeb;
	position: relative;
	padding: 20px;
 	margin-bottom: 20px;
 	color: white;
 	width: 450px; 
	height: 400px;
	padding: 10px;
	margin-left: 735px;	
}

#footer {
	clear: both; 
	background: #ebebeb;
	overflow: auto; 
	padding: 20px;
 	margin-bottom: 20px;
 	color: #333;
 	width: 990px ;
	margin-left: auto ;
	margin-right: auto ;
}